account_sid = 'ACXXXXXXXXXXXXXXXXX'
auth_token = 'YYYYYYYYYYYYYYYYYY'
phone_brit = '+15555555555'
phone_dave = '+15555555555'
phone_rob = '+15555555555'
phone_kenna = '+1555555555'
phone_m = '+15555555555'
application_sid = 'APabe7650f654fc34655fc81ae71caa3ff'
api_url = 'http://yourhost'
